.home-v1-slider {
    margin-bottom: 60px;
}

.home-v2-slider,
.home-v2-slider.wpb_content_element {
    margin-bottom: 0px;
}

.home-v6-slider {
    margin-bottom: 30px;
}

.home-v5-slider,
.home-v5-slider.wpb_content_element {
    margin-bottom: 100px;
}

.home-v7-slider,
.home-v7-slider.wpb_content_element {
    margin-bottom: 0px;
}
