.ywapo_input_container_radio:not(.pz-radio-default) {

    display: inline-block;
    position: relative;
    margin: 0 0.750em 1em 0.750em;

    input,input[type=radio] {
        opacity: 0;
        position: absolute;
        height: 48px;
        width: 100%;
        z-index: 2;
        margin: 0;
    }

    label {
        width: 48px;
        height: 48px;
        line-height: 1;
        font-size: 0.813em;
        position: relative;
        color: #2b2929;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;

        &::before {
            content: " ";
            width: 48px;
            border-radius: 100%;
            height: 48px;
            border: 2px solid #f9f1db;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            transition: all 0.2s ease-in-out 0s;
        }

        span {
            width: 30px;
            display: inline-block;
            line-height: 12px;
            padding: 12px 0;
            position: relative;
            z-index: 1;
        }
    }

    &:hover {
        label::before {
            background-color: #ffcd00;
            border: 2px solid #ffcd00;
        }
    }

    .ywapo_label_price {
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;

        .woocommerce-Price-currencySymbol {
            vertical-align: top;
            font-size: small;
        }

        .amount {
            font-size: 1.250em;
            color: #2d2b2d;
            font-weight: normal;
        }
    }
}


.ywapo_input_container_radio.pz-radio-default {
    margin: 0 0.750em 0;
    position: relative;

    input,input[type=radio] {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 20px;
    }

    input+label {
        &:before {
            content: "\f1db";
            font-family: FontAwesome,sans-serif;
            margin-right: 5px;
            color: #d2d2d2;
        }
    }

    input:checked+label {
        &:before {
            content: "\f192";
            color: #ffcd00;
        }
    }

    label {
        margin-bottom: 0;
        display: inline-block;

        span {
            font-weight: 400;
            color: #2b2929;
            font-size: .875em;
            line-height: .8;
        }
    }

    .ywapo_label_price {
        .amount {
            color: #a0a0a0;
            font-size: .875em;

            &:before {
                content: "(";
                padding-left: 2px;
            }

            &:after {
                content: ")";
            }
        }
    }
}